*{
    background-color: aliceblue;
}
#header1{
    display: flex;
    justify-content: center;
    background-color: blue;
    color: white;
    padding: 10px;
}
#main{
    display:flex;
    flex-direction: row;

}
#search-area{
    display: flex;
    flex-direction: column;
    border:solid black 2px;
    width: 275px;
    height: 800px;
    margin: 20px;
}
#search-header{
    padding-left: 15px;
}
#searchbar{
    margin:5px;
}
#search{
    background-color:rgb(98, 152, 170);
    width: auto;
}
.search-results{
    display: flex;
    flex-direction: row;
    margin-left: 310px;
    border: solid black 2px;
    margin-bottom:90%;
    
}
#resultsArea{
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 600px;
    margin-top: 100px;
}